<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>

<h1>Evolution Chart for @ViewData["countryName"]</h1>

<div id="chart_div"></div>
<div id="msg"></div>
<button class="btn btn-primary mt-2" onclick="history.back()">Go back to Summary</button>

<script type="text/javascript">
    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {
        var countryCode = '@ViewData[ "id" ]';
        var options = {
            'url': '@Url.Action("GetChartData","Chart")?countryCode=' + countryCode,
            'type': "GET",
            'dataType': "json",
            'success' : processData,
            'error': function () {
                $("#msg").html("<h2>Error while using Google Charts!</h2 > ")
            }
        }

        $.ajax(options);
    }

    function processData(data) {
        var dataTable = new google.visualization.DataTable();
        dataTable.addColumn('number', 'Day Number');
        dataTable.addColumn('number', 'Cases');
        // A column for custom tooltip content
        dataTable.addColumn({ type: 'string', role: 'tooltip', 'p': { 'html': true }});

        // For each row of data, you push it to the chartData object.
        $.each(data, function (i, item) {
            dataTable.addRows([[ item.dayNumber, item.totalCases, createCustomHTMLContent( item.dayNumber, item.totalCases, item.dateOfState ) ]]);
        });

        var chartOptions = {
            width: 800,
            height: 400,
            title: "Total cases evolution since Day 1",
            titleTextStyle: {
                color: 'black',
                fontName: 'Calibri',
                fontSize: 28,
                bold: true,
                italic: false
            },
            hAxis: {
                title: 'Day Number',
                titleTextStyle: {
                    color: 'black',
                    fontName: 'Calibri',
                    fontSize: 18,
                    bold: true,
                    italic: false
                },
                minValue: 1
            },
            vAxis: {
                title: 'Total Cases',
                titleTextStyle: {
                    color: 'black',
                    fontName: 'Calibri',
                    fontSize: 18,
                    bold: true,
                    italic: false
                },
                minValue: 0
            },
            legend: {
                position: 'none'
            },
            // Use an HTML tooltip.
            tooltip: { isHtml: true }
        };

        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(dataTable, chartOptions);
    }

    // Create the HTML displayed as tooltip in each day of the country chart.
    function createCustomHTMLContent(dayNumber, totalCases, date)
    {
        var localDate = new Date(date);
        return '<div style="padding:5px 5px 5px 5px; width: 100px"><table><tr>' +
            '<td><b>Date: </b>' + localDate.toLocaleDateString() + '</td></tr><tr>' +
            '<td><b>Day Number: </b>' + dayNumber + '</td></tr><tr>' +
            '<td><b>Total Cases: </b>' + totalCases + '</td></tr><tr>' +
            '</tr></table></div>';
    }
</script>